.status-bar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 5px 3px;
}

.status-bar__column {
  margin: 0 5px;
}

.status-bar__column:first-child span {
  font-size: large;
  font-weight: bold;
}
