:root {
  --gray: #7c7c7c;
  --yellow: #fae100;
  --black: #000000;

  --nav_black: #111113;
  --nav_white: #f9f9fa;
  --nav_orange: #f9642e;

  --head_black: #191919;
  --song_green: #4b7855;

  --nwitter_blue: #049ae6;
  --wetube_red: #ff0401;
  --kokoa_yellow: #fade4c;

  --view_white: #f5f5f5;
  --search_blue: #4184c3;

  --chats_screen: #abc1d1;
  --chats_timestamp: #92a4b2;

  --horizontal-space: 0 25px;
}
